<%- include('layouts/header') %> 

<div class="fixed-top mt-4">
	<img src="assets/img/back.png" class="back-img ms-3">
	<img src="assets/img/logo.png" class="logo-img ms-3">
	<h3 class="font-h3 orange-title d-inline ms-3">ROCK PAPER SCISSORS</h3>
</div>

<section class="d-flex align-items-center">
	<div class="container mt-5">
		<div class="row d-flex justify-content-around">
			<div class="col suit-img text-center" id="player">
				<h3 class="font-h3 black-title">PLAYER 1</h3>
				<img src="assets/img/batu.png" class="batu"><br>
				<img src="assets/img/kertas.png" class="kertas"><br>
				<img src="assets/img/gunting.png" class="gunting">
			</div>
			<div class="col d-flex align-items-center justify-content-center">
				<div class="info">VS</div>
			</div>
			<div class="col suit-img text-center" id="com">
				<h3 class="font-h3 black-title">COM</h3>
				<img src="assets/img/batu.png" class="batu"><br>
				<img src="assets/img/kertas.png" class="kertas"><br>
				<img src="assets/img/gunting.png" class="gunting">
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<!-- <a href="suit-game.html"> --><img src="assets/img/refresh.png" class="refresh"><!-- </a> -->
			</div>
		</div>
	</div>
</section>

<%- include('layouts/footer') %> 